@charset "utf-8";

@media all and (max-width: 1280px) {
	body > header nav.primary ul {
		font-size: 1.05em;
	}

	body > header nav.primary ul li a {
		padding: 0 10px;
	}

	#teasers figure figcaption a,
	#teasers figure figcaption a:hover {
		font-size: 2em;
		line-height: 1.5em;
	}
	
	#teasers figure figcaption h1{
		font-size: 2em;
		line-height: 1.5em;
	}
	
	#teasers figure figcaption h1 a,
	#teasers figure figcaption h1 a:hover{
		font-size: 1em;
		line-height: 1.5em;
	}

	#teasers figure + figure figcaption a,
	#teasers figure + figure figcaption a:hover {
		font-size: 1.2em;
	}

	#teasers figure + figure figcaption h2{
		font-size: 1.2em;
	}

	#teasers figure + figure figcaption h2 a{
		font-size: 1em;
	}

	section.complementary article figure {
		height: 150px;
	}

	#sidebar .share .social > * {
		margin-right: 3% !important;
		margin-left: 3% !important;
	}

	#sidebar .share .social > *:first-child {
		margin-left: 0 !important;
	}

	#sidebar .share .social > *:last-child {
		margin-right: 0 !important;
	}

	#sidebar figure.banner figcaption h3{
		font-size:1.3em;
	}

	#sidebar figure.banner figcaption a,
	#sidebar figure.banner figcaption a:hover {
		font-size: 1.3em;
	}

	#sidebar figure.banner figcaption h3 a,
	#sidebar figure.banner figcaption h3 a:hover{
		font-size:1em;
	}

	#bottom section.foreign figure figcaption a,
	#bottom section.foreign figure figcaption a:hover {
		font-size: 1.3em;
	}

	/* article */

	body.article #main header h1 {
		font-size: 3em;
	}

	body.article article#content aside.share .mail span {
		display: none;
	}

}