
.similar__title{
	font-size:20px;
	font-weight:600; 
	margin:0 0 25px;
	line-height:1;
}

.similar__list{
	list-style:none;
	margin:0;
	padding:0 30px 0 0;
}

.similar__list li{
	position:relative;
	padding-left:30px;
}

.similar__list li:before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:19px;
	height:19px;
	background:#6ec332;
}

.similar__list li:after{
	content:"";
	display:block;
	clear:both;
}

.similar__list li > a{
	position:absolute;
	z-index:2;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.similar__item-title{
	font-size:1.16em;
	font-weight:700;
	line-height:1.25;
	margin:0;
}
 
.similar__item-title a{
	color:#333;
}

.similar__list li > a:hover ~ article .similar__item-title a{
	color:#6DC331;
}

.similar__list p{
	margin:0;
	font-size:1.1em;
	line-height:1.35;
}

.similar__item-title + p{
	margin-top:5px;
}

.similar__list li + li{
	margin-top:15px;
}

body.article article#content .similar__list li time{
	font-size:10px;
	color:#999;
	font-style:normal;
	margin-top:4px;
	display:block;
}

/*6ec332*/

@media (max-width: 768px){
	.similar__title{
		margin-bottom:17px;
	}
	
	.similar__list{
		padding:0;
	}
	
	body.article article#content .similar__list figure{
		margin:0 16px 0 0;
	}
	
	.similar__list li + li{
		margin-top:21px;
	}
}


@media (max-width: 400px){
	body.article article#content .similar__list figure{
		margin:0 16px 0 0;
	}
	
	.similar__list li + li{
		margin-top:1em;
	}
}